/*base*/
/*reset*/
/* line 3, ../sass/main.scss */
a, abbr, acronym, address, applet, b, big, blockquote, body, caption, center, cite, code, dd, del, dfn, div, dl, dt, em, fieldset, font, form, h1, h2, h3, h4, h5, h6, html, i, iframe, img, ins, kbd, label, legend, li, object, ol, p, pre, q, s, samp, small, span, strike, strong, sub, sup, table, tbody, td, tfoot, th, thead, tr, tt, u, ul, var {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: 0 0;
  text-decoration: none;
}

/* line 14, ../sass/main.scss */
body {
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  -moz-tap-highlight-color: transparent;
  -ms-tap-highlight-color: transparent;
  tap-highlight-color: transparent;
}

/* line 24, ../sass/main.scss */
li {
  list-style: none;
}

/* line 29, ../sass/main.scss */
ol, ul {
  list-style: none;
}

/* line 34, ../sass/main.scss */
blockquote, q {
  quotes: none;
}

/* line 38, ../sass/main.scss */
blockquote:after, blockquote:before, q:after, q:before {
  content: '';
  content: none;
}

/* line 43, ../sass/main.scss */
:focus {
  outline: 0;
}

/* line 47, ../sass/main.scss */
ins {
  text-decoration: none;
}

/* line 51, ../sass/main.scss */
del {
  text-decoration: line-through;
}

/* line 55, ../sass/main.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 60, ../sass/main.scss */
caption, td, th {
  text-align: left;
  font-weight: 400;
  float: none !important;
}

/* line 66, ../sass/main.scss */
table, td, th {
  vertical-align: middle;
}

/* line 70, ../sass/main.scss */
em, i {
  font-style: normal;
}

/* line 74, ../sass/main.scss */
a, img {
  border: none;
  text-decoration: none;
  outline: 0;
}

/* line 80, ../sass/main.scss */
:focus {
  outline: 0;
}

/* line 84, ../sass/main.scss */
.container:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* line 92, ../sass/main.scss */
.clearfix:after, .clearfix:before {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

/* line 101, ../sass/main.scss */
.clearfix:after {
  clear: both;
}

/* line 105, ../sass/main.scss */
.clearfix {
  zoom: 1;
}

/* line 109, ../sass/main.scss */
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

/* line 118, ../sass/main.scss */
input[type=reset]::-moz-focus-inner, input[type=button]::-moz-focus-inner, input[type=submit]::-moz-focus-inner, input[type=file] > input[type=button]::-moz-focus-inner {
  border: none;
  padding: 0;
}

/* line 123, ../sass/main.scss */
figure {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
}

/* line 130, ../sass/main.scss */
.animate {
  -moz-transition: all .3s ease .3s;
  -webkit-transition: all .3s ease .3s;
  -o-transition: all .3s ease .3s;
  transition: all 0.3s ease 0.3s;
}

/* line 137, ../sass/main.scss */
.animate1 {
  -moz-transition: all .1s ease .3s;
  -webkit-transition: all .1s ease .3s;
  -o-transition: all .1s ease .3s;
  transition: all 0.1s ease 0.3s;
}

/* line 144, ../sass/main.scss */
html {
  width: 100%;
}

/* line 148, ../sass/main.scss */
input:focus {
  outline: 0;
}

/*contact-page_css*/
/* line 153, ../sass/main.scss */
body {
  background-color: #f8f8f8;
  color: #444;
  font: 12px/180% Arial, Helvetica, sans-serif;
}

/* line 159, ../sass/main.scss */
.contact_top {
  width: 100%;
  background: #fff;
}

/* line 165, ../sass/main.scss */
.contact_main_title {
  font-size: 16px;
  color: #444;
  text-align: center;
  height: 1.14667rem;
  line-height: 1.14667rem;
}

/* line 173, ../sass/main.scss */
.questions-list {
  background: #fff;
  padding: 0 0px 0px 14px;
  vertical-align: bottom;
  margin-bottom: 0.18667rem;
}
/* line 179, ../sass/main.scss */
.questions-list ul {
  width: 96%;
}
/* line 183, ../sass/main.scss */
.questions-list ul li:not(:last-child) {
  border-bottom: 1px solid #e7e7e7;
}

/* line 188, ../sass/main.scss */
.contact-question-list {
  height: 1.33333rem;
  line-height: 1.33333rem;
  border-bottom: 1px solid #e7e7e7;
}
/* line 192, ../sass/main.scss */
.contact-question-list .contact_question1_icon {
  width: 0.48rem;
  display: inline-block;
  vertical-align: middle;
  margin-top: -0.10667rem;
}
/* line 199, ../sass/main.scss */
.contact-question-list p {
  display: inline-block;
  margin-left: 0.24rem;
}

/* line 205, ../sass/main.scss */
.contact-ask {
  width: 100%;
  height: 0.93333rem;
  line-height: 0.93333rem;
  color: #666;
  font-size: 14px;
  cursor: pointer;
  overflow: hidden;
  display: inline-block;
}
/* line 215, ../sass/main.scss */
.contact-ask h5 {
  width: 91%;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 0.10667rem;
}

/* line 224, ../sass/main.scss */
.contact-question {
  display: none;
}

/* line 227, ../sass/main.scss */
.contact_bottom {
  bottom: 0;
  position: fixed;
  width: 100%;
}
/* line 232, ../sass/main.scss */
.contact_bottom .contact_bottom_left {
  background: #ff8000;
  color: #fff;
  width: 50%;
  height: 1.38667rem;
  line-height: 1.38667rem;
  float: left;
  text-align: center;
  display: inline-block;
}
/* line 242, ../sass/main.scss */
.contact_bottom .contact_bottom_left p, .contact_bottom .contact_bottom_right p {
  display: inline-block;
}
/* line 246, ../sass/main.scss */
.contact_bottom .contact_bottom_left_img, .contact_bottom .contact_bottom_right_img {
  width: 13%;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5%;
}
/* line 254, ../sass/main.scss */
.contact_bottom .contact_bottom_right {
  background: #fff;
  color: #000;
  width: 50%;
  height: 1.38667rem;
  line-height: 1.38667rem;
  display: inline-block;
  text-align: center;
}

/* line 265, ../sass/main.scss */
.contact-down-icon {
  position: relative;
  top: -0.30667rem;
  right: -0.13333rem;
  display: inline-block;
  width: 23px;
  height: 8px;
  overflow: hidden;
  background: url(../images/contact-arrow.png) 0px -9px no-repeat;
}

/* line 275, ../sass/main.scss */
.contact-up-icon {
  display: inline-block;
  width: 23px;
  height: 8px;
  overflow: hidden;
  background: url(../images/contact-arrow.png) 0px 0px no-repeat;
  position: relative;
  right: -0.13333rem;
  top: -0.30667rem;
}
